<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="restaurant-api/public/assets/css/reservation.css">
    <title>Wait List</title>
</head>
<body>
    <div class="container">
        <div class="card-body">
            <h1 class="card-title text-center">Wait List</h1>
            <hr class="my-4">
            <!--Dynamically Generate wait list number in JS using ID waitListNumber-->
            <div class="customer">
                <h4 id="waitListNumber" class="card-text">1.</h4>
                <p class="customerInfo">
                    Name:
                    <br>
                    Date:
                    <br>
                    Contact information:
                </p>
            </div>
        </div>
        <div>
            <p>
                <a href="#">API Table Links</a>
                |
                <a href="#">API Wait list</a>
            </p>
        </div>
    </div>
<!--SCRIPTS-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>