<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="card-body">
            <h1 class="card-title text-center">Hot Restaurant</h1>
            <hr class="my-4">
            <h2 class="card-text text-center">Current Reservations and Waiting List</h2>
        </div>
        <div class="d-flex justify-content-center">
            <i href="#" class="far fa-credit-card btn btn-danger"> Make Reservation</i>
            <i href="/views/index.html" class="fas fa-home btn btn-primary"></i> 
        </div>
        <br>
        <div class="card">
            <h4 class="card-header">Current Reservations</h4>
            <div class="card-body">
                <div class="card">
                    <h4 class="card-header">Table #1</h4>
                    <div class="card-body">
                        <h4>ID:</h4>
                        <h4>Name:</h4>
                        <h4>Email:</h4>
                        <h4>Phone:</h4>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <h4 class="card-header">Waiting List</h4>
            <div class="card-body">
                <div class="card">
                    <h4 class="card-header">Table #1</h4>
                    <div class="card-body">
                        <h4>ID:</h4>
                        <h4>Name:</h4>
                        <h4>Email:</h4>
                        <h4>Phone:</h4>
                    </div>
                </div>
            </div>
        </div>

        <footer class="d-flex justify-content-left">
            <div>
                <br>
                <p>Control Panel</p>
                <p>
                    <a href="#">Clear Table</a>
                    |
                    <a href="#">API Table Links</a>
                    |
                    <a href="#">API Wait list</a>
                </p>
            </div>
        </footer>
    </div>
    <!--SCRIPTS-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>